.form {
    background: rgba(245, 245, 220, 0.08);
    border-radius: 1.5vw;
    padding: 6rem 4rem 2rem 4rem;
    backdrop-filter: blur(14px);
    -webkit-backdrop-filter: blur(14px);
    border: 1px solid rgba(255, 255, 255, 0.05);
    box-shadow: -2px -2px 20px rgba(2, 6, 23, 0.45);
    transition: all 0.3s ease;
}

h2 {
    color: white;
    margin-top: -4rem;
}

input,
textarea,
select {
    background: rgba(255, 255, 255, 0.08);
    border: 1px solid rgba(255, 255, 255, 0.03);
    border-radius: 15px;
    padding: 10px 14px;
    margin: 5px 0;
    width: 100%;
    color: rgb(245, 239, 239);
    transition: all 0.25s ease;
    box-shadow: -2px -2px 10px rgba(2, 6, 23, 0.473);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
}

input:hover,
textarea:hover,
select:hover,
.add-amenity-btn:hover {
    transform: scalez(50px);
    background: rgba(255, 255, 255, 0.08);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

input:focus,
textarea:focus,
select:focus {
    outline: none;
    background: rgba(255, 255, 255, 0.12);
    border-color: rgba(255, 255, 255, 0.15);
    box-shadow: 0 0 0 0.15rem rgba(255, 255, 255, 0.10);
}

input::placeholder,
textarea::placeholder {
    color: rgb(245, 239, 239);
    opacity: 0.8;
}

input[type="file"] {
    padding: 8px 12px;
    cursor: pointer;
}

textarea {
    resize: vertical;
}

button.btn-primary {
    background: rgba(49, 48, 48, 0.219);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    padding: 10px 50px;
    color: white;
    transition: all 0.25s ease;
    backdrop-filter: blur(6px);
    text-align: center;
}

button.btn-primary:hover {
    background: rgba(255, 234, 234, 0.342);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

button.btn-outline-secondary,
button.btn-outline-danger {
    border-radius: 15px;
    padding: 10px 20px;
    color: rgb(245, 239, 239);
    border: 1px solid rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(5px);
}

button.btn-outline-secondary:hover,
button.btn-outline-danger:hover {
    background: rgba(255, 255, 255, 0.12);
}

.add-amenity-btn {
    background: rgba(119, 116, 108, 0.25);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    padding: 8px 16px;
    color: white;
    transition: all 0.25s ease;
    backdrop-filter: blur(6px);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 46px;
    margin: auto;
}

.submit-btn {
    font-size: 200px;

}

.img {
    height: 45px;
}

input[type="file"] {
    height: 45px;
    padding: 0;
    font-size: 16px;
}

input[type="file"]::file-selector-button {
    appearance: none;
    -webkit-appearance: none;
    height: 45px;
    padding: 4px 10px 0px 24px;
    margin-top: -2px;
    background: rgba(119, 116, 108, 0.25);
    border-radius: 15px 0 0 0;
    color: white;
    cursor: pointer;
    transition: all 0.25s ease;
    backdrop-filter: blur(6px);
}


input[type="file"]:hover::file-selector-button {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    color: rgb(37, 36, 36);
}