.footer {
  background: hsla(48, 27%, 63%, 0.11);
  border-top: 1px solid transparent;
  color: #ffffff;
  font-size: 0.9rem;
  margin-top: 1em;
}

.footer a {
  text-decoration: none;
  color: #ffffff;
  transition: color 0.2s;
}

.footer a:hover {
  color: #000;
}
